

<%= form_tag request.request_uri,:method=>'get' do %>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
<tbody><tr><td bgcolor="#dde3ec">
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tbody><tr class="header"><td colspan="5">视图选项</td></tr>
<tr align="center"><td bgcolor="#f8f9fc" width="15%">每页显示数量:</td>
<td bgcolor="#ffffff" width="28%"><input name="per" value="<%= params[:per] %>" size="20" type="text"></td>
<td bgcolor="#f8f9fc" width="15%">排序字段:</td>
<td bgcolor="#ffffff" width="27%"><select name="order">
<option value="number" <%= "selected=\"selected\"" if params[:order]=="number" %> > 学号 </option>
<option value="name" <%= "selected=\"selected\"" if params[:order]=="name" %>>姓名</option>
<option value="bj" <%= "selected=\"selected\"" if params[:order]=="bj" %>>班级</option>
</select>
<input name="page" value="1" type="hidden" />
</td>
<td bgcolor="#f8f9fc" width="15%"><input name="forumsubmit" value="提 交" type="submit"></td></tr>
<tr align="center"><td bgcolor="#f8f9fc" width="15%">按姓氏筛选:</td>
<td bgcolor="#ffffff" colspan="4" style="text-align:left">
<% last='0'  %>
<% FamilyName.existings.each do |fn| %>
<%= link_to("#{fn.letter}","#{request.path}?paixuzi=#{fn.letter}",:style=>'color:purple')+": " if fn.letter!=last %>
<% if params[:surname_id].to_i==fn.id %>
	<% style="text-decoration:underline" %>
<% else %>
	<% style='text-decoration:none'  %>
<% end %>
<%= link_to "#{fn.hanzi}","#{request.path}?surname_id=#{fn.id}",:style=>style %>
<% last=fn.letter %>
<% end %>
<input name="page" value="1" type="hidden" />
</td>
</tr>
<tr align="center"><td bgcolor="#f8f9fc" width="15%">按学号前缀:</td>
<td bgcolor="#ffffff" colspan="4" style="text-align:left">
<% Student.group('number_prefix').each do |fn| %>
<% if params[:number_prefix]==fn.number_prefix %>
	<% style="text-decoration:underline" %>
<% else %>
	<% style='text-decoration:none'  %>
<% end %>
<%= link_to "#{fn.number_prefix}","#{request.path}?number_prefix=#{fn.number_prefix}",:style=>style %>
<% end %>
<input name="page" value="1" type="hidden" />
</td>
</tr>

</tbody></table></td></tr></tbody></table>
<% end %>




<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<font class="mediumtxt"><br>
		
		
		
	<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody>
		
		<tr><td bgcolor="#dde3ec"><table width="100%" cellspacing="1" cellpadding="4" border="0" class="smalltxt"><tbody><tr class="header"><td colspan="99">
			<% if params[:klass_id] %>
			  <% k = Klass.find(params[:klass_id])  %>
			  <span style="color:orange"><%= k.grade.name %>级<%= k.name %>班</span> 学生列表
			<% elsif params[:grade_id] %>
				<span style="color:orange"><%= Grade.find(params[:grade_id]).name %>级</span> 学生列表
			<% elsif params[:course_id] %>
			  修读了 <span style="color:orange"><%= Course.find(params[:course_id]).name %></span> 的学生列表
			<% end %>
		</td></tr>
	<tr align="center" class="category">
		<td width="90"><%= a_href_order '学号','number' %></td>
		<td width="10"><%= a_href_order '字','paixuzi' %></td>
		<td><%=a_href_order '姓名','name' %></td>
		<td width="10"><%= a_href_order '级','bj'%></td>
		<td width="30"><%= a_href_order '班','klass_id'%></td>
		<td colspan="3">操作</td>
	</tr>
		<% @students.each do |student| %>
		  <tr align="center" class="pointable">
				<td bgcolor="#f8f9fc"><%= student.number %></td>
				<td bgcolor="#ffffff"><%= student.paixuzi %></td>
				<td bgcolor="#ffffff"  onMouseOver="this.style.backgroundColor='#F8F9FC'"  onMouseOut="this.style.backgroundColor='#FFFFFF'"><%= link_to student.name,student %></td>
				<td bgcolor="#f8f9fc"><% if student.klass and student.klass.grade %>
																<%= student.klass.grade.name %>
															<% end %></td>

				<td bgcolor="#ffffff"><%= student.klass.name if student.klass %></td>
		    <td bgcolor="#f8f9fc" width="20"><%= link_to '<img src="/images/b_props.png"/>'.html_safe, student %></td>
		    <td bgcolor="#ffffff" width="20"><%= link_to '<img src="/images/b_edit.png"/>'.html_safe, edit_student_path(student) %></td>
		    <td bgcolor="#f8f9fc" width="20"><%= link_to '<img src="/images/b_drop.png"/>'.html_safe, student, :confirm => '确认吗?', :method => :delete %></td>
		  </tr>
		<% end %>
		</tbody></table></td></tr>
			<tr class="multi"><td><%= paginate @students %></td></tr>
	</tbody></table></font>
	<table width="99%" cellspacing="0" cellpadding="0" align="center">
	<tbody><tr>
	</tr></tbody></table>
	
</table>
