

<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%"><tr class="header"><td>技巧提示</td></tr>
<tr bgcolor="#F8F9FC"><td style="padding-top:15px;padding-bottom:8px">
<ul><li>系统会自动检测每学期所修学分较低的学生，本页显示的是检测结果。</ul>
<ul><li>检测周期与预警阈值请在<%= link_to '系统设置',settings_path %>中进行设定。</ul>
<ul><li>当前检测周期：一周；预警阈值：15.0。</ul>
</td></tr></table></td></tr></table>
<br>



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<font class="mediumtxt"><br>

	<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody>
		
		<tr><td bgcolor="#dde3ec"><table width="100%" cellspacing="1" cellpadding="4" border="0" class="smalltxt"><tbody><tr class="header"><td colspan="99">学生列表</td></tr>
	<tr align="center" class="category">
		<td width="100">班级</td>
		<td>名称</td>
		<td width="200">平均学期获得学分</td>
	</tr>
		<% @warning_xuefen_students.each do |warning_xuefen_student| %>
		<% student = Student.find(warning_xuefen_student.student_id) %>
		  <tr align="center" class="pointable">
				<td bgcolor="#ffffff"><% if student.klass %> <%= student.klass.grade.name %>级<%= student.klass.name %>班<%end %></td>
				<td bgcolor="#ffffff" onMouseOver="this.style.backgroundColor='#F8F9FC'"  onMouseOut="this.style.backgroundColor='#FFFFFF'"><span style="float: right; margin-right: .3em;background-image: url('/images/ui-icons_cc0000_256x240.png');background-position: 0 -144px;height: 16px;width: 16px;background-repeat: no-repeat;display: block;overflow: hidden;"></span><%= link_to student.name,student %></td>
				<td bgcolor="#ffffff" ><%= student.yixiu %>学分 / <%= student.has_xueqi %>学期 = <span style="color:red"><%= sprintf("%.3f",student.yixiu*1.0/student.has_xueqi) %></a></td>
		  </tr>
		<% end %>
		</tbody></table></td></tr>
	</tbody></table></font>
	<table width="99%" cellspacing="0" cellpadding="0" align="center">
	<tbody><tr>
	</tr></tbody></table>
</table>

