<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%"><tr class="header"><td>说明</td></tr>
<tr bgcolor="#F8F9FC"><td style="padding-top:15px;padding-bottom:8px">
<ul><li>本页可删除及查看以往生成的表格。</ul>
</td></tr></table></td></tr></table>
<br>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<font class="mediumtxt"><br>
<%= form_tag '/inquiry/tableStep1' do %>
	<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody>
		
		<tr><td bgcolor="#dde3ec"><table width="100%" cellspacing="1" cellpadding="4" border="0" class="smalltxt"><tbody><tr class="header"><td colspan="99">历史表格</td></tr>
	<tr align="center" class="category">
		<td width="40">编号</td>
		<td width="100">生成日期</td>
		<td>名称</td>
		<td width="50">操作人</td>
		<td width="50" colspan="3">操作</td>
	</tr>
		<% @tables.each do |table| %>
		  <tr align="center" class="pointable">
				<td bgcolor="#ffffff"><%= table.id %></td>
				<td bgcolor="#f8f9fc"><%= table.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
				<td bgcolor="#ffffff" onMouseOver="this.style.backgroundColor='#F8F9FC'"  onMouseOut="this.style.backgroundColor='#FFFFFF'"><%= link_to table.name,table %></td>
				<td bgcolor="#f8f9fc"><%= link_to table.user.name,table.user %></td>
				<td bgcolor="#ffffff" width="20"><%= link_to '<img src="/images/b_props.png"/>'.html_safe, table %></td>
		    <td bgcolor="#ffffff" width="20"><%= link_to '<img src="/images/b_drop.png"/>'.html_safe, table, :confirm => '确认吗?', :method => :delete %></td>
		  </tr>
		<% end %>
		</tbody></table></td></tr>
	</tbody></table></font>
	<table width="99%" cellspacing="0" cellpadding="0" align="center">
	<tbody><tr>
	</tr></tbody></table>

</table>
<% end %>
