<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%"><tr class="header"><td colspan="20">技巧提示</td></tr>
<tr bgcolor="#F8F9FC"><td style="padding-top:15px;padding-bottom:8px">
<ul><li>本页用于管理全部学生的谈话纪录，按发生时间排序。</ul>
<ul><li>添加谈话纪录请先定位到学生页。</ul>
</td>

<td bgcolor="#f8f9fc" style="text-align:center;vertical-align:center">
	<a href="/inquiry/talk.xls"><img width="50" height="50" style="padding-bottom:10px" src="/images/excel_logo.gif?1307167751" alt="Excel_logo"><br>导出Excel工作表</a>
</td>


</tr></table></td>
</tr></table>

<br><br>


<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%" class="smalltxt"><tr class="header"><td colspan="99">所有学生的谈话记录</td></tr>
<tr align="center" class="category">
	<td width="150">发生日期</td>
	<td width="100">谈话人</td>
	<td width="100">学生</td>
	<td>内容摘要</td>
	<td width="65" colspan="2">操作</td>
</tr>
<% @talk_records.each do |talk_record| %>
<tr align="center">
		<td bgcolor="#FFFFFF"><%= talk_record.happened_at.strftime("%Y年%m月%d日") %><br><%= dateGap(talk_record.happened_at) %></td>
		<td bgcolor="#F8F9FC"><%= talk_record.talker %></td>
	<td style="background-color:#F8F9FC"><%= link_to talk_record.student.name,talk_record.student %></td>
		<td bgcolor="#FFFFFF" <% if talk_record.memo!="" %>style="cursor:pointer" onClick="$('#formula_<%= talk_record.id %>').toggle()"  onMouseOver="this.style.backgroundColor='#F8F9FC'"  onMouseOut="this.style.backgroundColor='#FFFFFF'"<%end %>><%= talk_record.about %></td>
	    <td bgcolor="#F8F9FC" width="20"><%= link_to '<img src="/images/b_edit.png"/>'.html_safe, edit_talk_record_path(talk_record,:zong=>true) %></td>
			<td bgcolor="#F8F9FC" width="20"><%= link_to '<img src="/images/b_drop.png"/>'.html_safe, talk_record_path(talk_record,zong:true), :confirm => '确定删除？', :method => :delete %></td>
</tr>
<tr align="center" class="pointable" style="display:none" id="formula_<%= talk_record.id %>">
	<td colspan="10"><% talk_record.memo.split("\n").each do |line| %><%= line %><br /><%end%></td>
</tr>
<% end %>
</table></td></tr></table>
<br><br>
